@tailwind base;
@tailwind components;
@tailwind utilities;

.dot {
  transition: transform 0.3s ease;
}
input:checked + .block {
  background-color: #c7d2fe;
}
input:checked + .block .dot {
  transform: translateX(1.5rem);
  background-color: #4f46e5;
}

/* === Scrollbar khusus ProductList === */
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}
